*{
    margin: 0;
    padding: 0;
}
h2{
    top: 20px;
    position: sticky;
    background-color: grey;
    color: white;
    border: 2px black;
}
ul li{
    padding: 4px;
    list-style: none;
    font-weight: 700;
}
/* .list{
    top: 20px;
    position: relative;
} */
#d{
    border: 2px solid black;
    width: 40px auto;
    padding: 10px;
    /* background-color: rgb(161, 105, 21); */
}